<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.appspice.sampleproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="APP_SPICE_ID"
            android:value="033433aed1ec56d2bbbc" />
        <meta-data
            android:name="APP_SPICE_APP_ID"
            android:value="545a3fee99309f020017bcbd" />

        <activity android:name="it.appspice.sampleproject.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="it.appspice.sampleproject.SecondActivity" />
    </application>

</manifest>
